<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Faraz Abisha</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Italianno|Montserrat:400,700|Raleway:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d5ac12ca84.js"></script>
</head>
<body>
    <div class="home" id="Home">
        <div class="position-relative overflow-hidden text-center">
            <div class="x-auto my-5">
                
                <h1 class="judul">faraz<b>abisha</b></h1>

                <div class="navbar-nav">
                    <p class="tulisan"><a class="bottomnav" href="#About">About</a> | <a class="bottomnav" href="#Experience">Experiences</a> | <a class="bottomnav" href="#Contact">Contact</a> | <a class="bottomnav" href="friends/">Friends</a></p>
                </div>

            </div>

        </div>
    </div>

    

    <div class="about" id="About">
        <div class="position-relative overflow-hidden text-center">
            <div class="x-auto my-5">
                <div class="about2 d-flex flex-wrap justify-content-around">
                    <div class="photo">
                        <img src="{% static '1st.jpg' %}" alt="Faraz Abisha">
                    </div>
                    <div class="tulisan">
                        <h1><b>About Me</b></h1>
                        <p>I am an 18-year-old undergraduate Computer Science student in University of Indonesia.<br>I live in South Jakarta, Indonesia.<br>I love to interact with new things and new people.<br>I usually code with Python and C++.</p>
                    </div>
                </div>
                <div class="navbar-nav">
                    <p class="tulisan"><a class="bottomnav" href="#About">About</a> | <a class="bottomnav" href="#Experience">Experiences</a> |  <a class="bottomnav" href="#Contact">Contact</a> | <a class="bottomnav" href="friends/">Friends</a> | <a class="bottomnav" href="#Home">Home</a></p>
                </div>
            </div>
        </div>
    </div>



    <div class="experiences d-flex flex-column bd-highlight align-items-center" id="Experience">
        <div class="judulexp d-flex justify-content-center">
            <h1><b>My Experiences</b></h1>
        </div>
        <div class = "experiences2 d-flex flex-wrap justify-content-around">
            <div class="tulisan">
                <p class="instansi" style="margin: 0;">Staff of Futsal Planner, PERAK Fasilkom, 2019</p>
            </div>
        </div>
        <div class = "experiences2 d-flex flex-wrap justify-content-around">
            <div class="tulisan">
                <p class="instansi" style="margin: 0;">Coordinator of Security, Social Project Fasilkom, 2019</p>
            </div>
        </div>
     

        <div class="position-relative overflow-hidden text-center">
            <div class="x-auto my-5">
                <div class="navbar-nav">
                    <p class="tulisan"><a class="bottomnav" href="#About">About</a> | <a class="bottomnav" href="#Experience">Experiences</a> | <a class="bottomnav" href="#Contact">Contact</a> | <a class="bottomnav" href="friends/">Friends</a> |  <a class="bottomnav" href="#Home">Home</a></p>
                </div>
            </div>
        </div>
    </div>


        



    <div class="contact" id="Contact">
        <div class="position-relative overflow-hidden text-center">
            <div class="contact2 d-flex flex-wrap justify-content-around">
                <div class="tulisan">
                    <p>Feel free to contact me!</p>
                    <ul class="d-flex justify-content-center">
                        <li><a href= "https://twitter.com/jinjaerror" target = "_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href= "https://www.linkedin.com/in/faraz-abisha-8453251a0/" target = "_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href= "https://www.instagram.com/farazabisha/" target = "_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="photo">
                    <img src="https://maung.id/static/5e97b16f36547f709c2f71e83e3fd08d/9f583/TH33.jpg">
                </div>
            </div>

            <div class="x-auto my-5">
                <div class="navbar-nav">
                    <p class="tulisan"><a class="bottomnav" href="#About">About</a> | <a class="bottomnav" href="#Experience">Experiences</a> | <a class="bottomnav" href="#Contact">Contact</a> | <a class="bottomnav" href="friends/">Friends</a> | <a class="bottomnav" href="#Home">Home</a></p>
                </div>
            </div>
        </div>
    </div>


    <script src="bootstrap-4.3.1-dist\js\jquery.min.js"></script>
    <script src="bootstrap-4.3.1-dist\js\popper.min.js"></script>
    <script src="bootstrap-4.3.1-dist\js\bootstrap.min.js"></script>
</body>
</html>