body{
    height: 100%;
}
.jadwal{
    height: 100%;
    padding: 2rem;
}
.juduljadwal{
    font-family: 'Montserrat', sans-serif;
    color: #005073;
    font-size: 2.5rem;
}
#Table{
    padding-top: 2rem;
    margin: 0;
}
.home{
    font-size: 1.2rem;
    padding-top: 3rem;
}
.home a{
    color: #005073;
    text-decoration: none;
}
.home a:hover{
    border-bottom: #005073;
    border-bottom-style: solid;
    border-width: 2px;
}