{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/friends.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Italianno|Montserrat:400,700|Raleway:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d5ac12ca84.js"></script>
    <title>Be My Friend!</title>
</head>
<body>
    <div class="friends">
        <div class="titlefriends d-flex justify-content-center">
            <p>
                <b>Friends</b>
            </p>
        </div>
        <div class="friends2">
            <form action="" method="POST">
                {% csrf_token %}
                {{ formulir }}
                <div class = "centre-items" style = "margin-top: 2%">
                    <input type = "submit" class="btn btn-primary" value="input"> 
                </div>
            </form>
        </div>
        <div class="table-responsive" id="Table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Hobby</th>
                        <th scope="col">Favorite F&B</th>
                        <th scope="col">Year</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for i in friends %}
                <tbody>
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.hobby}}</td>
                        <td>{{i.favorite_fnb}}</td>
                        <td>{{i.year}}</td>
                        <td>
                            <a  href = "{% url 'hapus' pk=i.pk %}">
                                <button class="btn btn-icon btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </a>
                        </td> 
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="home d-flex justify-content-center">
            <a href="/">
                Home
            </a>
        </div>
    </div>
</body>
</html>